.box1{
background-color:black;
color:white;
width:100px;
padding:10px;
height:300px;
margin:46px;
float:left;
}
.box2{
background-color:black;
color:white;
width:100px;
padding:10px;
height:300px;
margin:46px;
float:left;

}
.box3{
background-color:black;
color:white;
width:100px;
padding:10px;
height:300px;
margin:46px;
float:left;

}