.box1{
background-color:black;
color:white;
padding:10px;
height:300px;
margin:46px;
float:left;
width:150px;
}
.box2{
background-color:black;
color:white;
padding:10px;
height:300px;
margin:46px;
float:left;
max-width:150px;
}
.box3{
background-color:black;
color:white;
padding:10px;
height:300px;
margin:46px;
float:left;
max-width:150px;
}